@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&family=Unbounded:wght@400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes spin {
  from {
    transform: translateX(0);
  }
  to {
    transform: var(--spin-end-transform, translateX(-2000px));
  }
}
main:has(textarea:focus) + footer {
  display: none;
}
.spin-animation {
  animation-name: spin;
  animation-duration: var(--spin-duration, 5s);
  animation-timing-function: cubic-bezier(0.1, 0.7, 0.3, 1);
  animation-fill-mode: forwards;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body, html {
  touch-action: manipulation; 
  -webkit-user-select: none;
  user-select: none;
}

@keyframes pulse-fade-out {
  0% {
    opacity: 0;
    transform: scale(0.5) translate(-50%, -50%);
  }
  20% {
    opacity: 1;
    transform: scale(1.2) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform: 'scale(0.7) translate(-50%, -50%)';
  }
}
.sparkle-animation {
  animation: pulse-fade-out ease-in-out forwards;
}
/* app/globals.css */
@font-face {
  font-family: 'Vasek';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/Vasek-Italic_0.ttf') format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
}